.politic{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 50px;
}

.politicPost{
    text-align: center;
    margin-top: 50px;
}

.politicImg{
    width: 380px;
    height: 300px;
    margin: 20px 60px;
    border-radius: 20px;
}
.politicPost p{
    margin-left: 50px;
    width: 380px;
}
.politicbut{
    margin-top: 20px;
    padding: 5px;
    border-radius: 10px;
    font-size: 15px;
    background-color: yellow;
}